<!DOCTYPE html>
<html lang="zh">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <link href="@Url.Content("~/Content/account/css/main.css")" rel="stylesheet" type="text/css" />
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</head>
<body>
    <div class="wrapper">
        <div class="header">
            <div class="menu">
                <ul>
                    <li>@Html.ActionLink("登陆", "Login", "Account") |</li>
                    <li>@Html.ActionLink("注册", "Register", "Account")</li>
                </ul>
            </div>
        </div>
        <div class="content_wrapper">
            <div class="content">
                @RenderBody()
            </div>
        </div>
    </div>
</body>
</html>
