@model List<NewsExtraRatio>
@using FrameMobile.Model.News;
@{
    ViewBag.Title = "渠道广告位配置管理";
    Layout = "~/Views/Shared/_NewsLayout.cshtml";

    List<NewsExtraRatio> extraratiolist = ViewData["ExtraRatiolist"] as List<NewsExtraRatio>;
    extraratiolist = extraratiolist != null ? extraratiolist : new List<NewsExtraRatio>();
    var totalCount = ViewData["TotalCount"] as int?;
    totalCount = totalCount != null ? totalCount : 0;
}

<div class="contentHeader">
    <div class="contentHeaderInfo">
        <button class="btn btn-large btn-blue addapp" onclick="window.open('ExtraRatioAdd','_self');">
            渠道广告位配置添加</button>
    </div>
    <div class="apphead">
        <div class="title">
            <b>@ViewBag.Title (总数:@totalCount)</b>
        </div>
        <div>
            <button class="btn btn-quaternary btn-large" onclick="history.back();">
                返 回</button>
        </div>
    </div>
</div>
<div class="content">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>序号</th>
                <th>渠道</th>
                <th>百分比</th>
                <th>状态</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody class="prolist">
            @foreach (var item in extraratiolist)
            {
                <tr class="odd gradeX">
                    <td><strong>@item.Id</strong></td>
                    <td><strong>@item.ChannelId</strong></td>
                    <td>@item.Ratio</td>
                    <td>@item.Status</td>
                    <td class="center">
                        <button type="button" class="btn btn-large btn-gray"  onclick="window.open('ExtraRatioEdit?extraRatioId=@item.Id','_self');">修 改</button>
                    </td>
                    <td class="center">
                        <button type="button" class="btn btn-large btn-gray"  onclick="var c=confirm('确定要删除?'); if(c==true){window.open('ExtraRatioDelete?extraRatioId=@item.Id','_self');}">
                            删 除</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
