@using FrameMobile.Model.News;
@model NewsExtraApp
@{
    bool isUpdateMode = ViewData["IsUpdate"] != null;
    ViewBag.Title = isUpdateMode ? "修改外推应用" : "添加外推应用";
    Layout = "~/Views/Shared/_NewsLayout.cshtml";

    var actionName = isUpdateMode ? "ExtraAppEdit" : "ExtraAppAdd";

    var logoUrl = string.Empty;
    if (isUpdateMode)
    {
        var s = string.IsNullOrEmpty(@Model.ExtraLogoUrl) ? null : @Model.ExtraLogoUrl.Split('/').ToList();
        logoUrl = string.IsNullOrEmpty(@Model.ExtraLogoUrl) ? string.Empty : s[s.Count - 1];
    }
}

<div class="contentHeader">
    <div class="contentHeaderInfo">
        <button class="btn btn-quaternary btn-large addapp" onclick="history.back();">
            返 回</button>
    </div>
    <div class="apphead">
        <div class="title">
            <b>@ViewBag.Title </b>
        </div>
    </div>
</div>
<div class="content">
    <div class="windows">
        @using (Html.BeginForm(actionName, "NewsUI", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {

            <p>
                <div class="title">
                    <h1>
                        @ViewBag.Title</h1>
                </div>
            </p>

            <div style="clear: both">
                <table>
                    @Html.ValidationSummary(true)
                    @Html.HiddenFor(m => m.Id)
                    <tr>
                        <td><strong>名称: </strong></td>
                        <td>@Html.TextBoxFor(m => m.Name)</td>
                    </tr>
                    <tr>
                        <td><strong>包名: </strong></td>
                        <td>
                            @if (isUpdateMode)
                            {
                                @Html.TextBoxFor(m => m.PackageName, new { @readonly = true, Class = "txt-readonly" })}
                            else
                            {
                                @Html.TextBoxFor(m => m.PackageName)
                            }
                        </td>
                    </tr>
                    <tr>
                        <td><strong>版本号: </strong></td>
                        <td>@Html.TextBoxFor(m => m.VersionCode)</td>
                    </tr>
                    <tr>
                        <td><strong>推广Logo: </strong></td>
                        <td>
                            <input type="file" name="logoFile" accept="bmp|gif|jpg|jpeg|png|tiff|abm" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <label>@logoUrl</label></td>
                    </tr>
                    @if (logoUrl != string.Empty)
                    {
                        <tr>
                            <td colspan="2">
                                <img src="@Model.ExtraLogoUrl" />
                            </td>
                        </tr>
                    }
                    <tr>
                        <td><strong>外推类型: </strong></td>
                        <td>@Html.RadioButtonFor(m => m.ExtraType, 0) 链接推广 @Html.RadioButtonFor(m => m.ExtraType, 1) 应用推广</td>
                    </tr>
                    <tr>
                        <td><strong>是否是浏览器应用: </strong></td>
                        <td>@Html.RadioButtonFor(m => m.IsBrower, 1) 是 @Html.RadioButtonFor(m => m.IsBrower, 0) 否</td>
                    </tr>
                    <tr>
                        <td><strong>状态: </strong></td>
                        <td>@Html.RadioButtonFor(m => m.Status, 1) 有效 @Html.RadioButtonFor(m => m.Status, 0) 无效</td>
                    </tr>
                    <tr>
                        <td>
                            <strong>链接地址: </strong></td>
                        <td class="txt-longer">
                            @if (isUpdateMode)
                            {
                                @Html.TextAreaFor(m => m.ExtraLinkUrl, new { @readonly = true, Class = "txt-readonly" })}
                            else
                            {
                                @Html.TextAreaFor(m => m.ExtraLinkUrl)
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>推广说明: </strong></td>
                        <td class="txt-longer">
                            @Html.TextAreaFor(m => m.Description)
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <button class="btn btn-large btn-blue addapp" style="margin-left: 50px">@ViewBag.Title</button>
                        </td>
                    </tr>
                </table>
            </div>
        }
    </div>
</div>
