@using FrameMobile.Model.News;
@model NewsInfAddress
@{
    bool isUpdateMode = ViewData["IsUpdate"] != null;
    ViewBag.Title = isUpdateMode ? "修改接口地址" : "添加接口地址";
    Layout = "~/Views/Shared/_NewsLayout.cshtml";

    var sourcelist = ViewData["Sourcelist"] as SelectList;
    var categorylist = ViewData["Categorylist"] as SelectList;
    var subcategorylist = ViewData["SubCategorylist"] as SelectList;
}

<div class="contentHeader">
    <div class="contentHeaderInfo">
        <button class="btn btn-quaternary btn-large addapp" onclick="history.back();">
            返 回</button>
    </div>
    <div class="apphead">
        <div class="title">
            <b>@ViewBag.Title </b>
        </div>
    </div>
</div>
<div class="content">
    <div class="windows">
        @using (Html.BeginForm())
        {

            <p>
                <div class="title">
                    <h1>
                        @ViewBag.Title</h1>
                </div>
            </p>

            <div style="clear: both">
                <table>
                    <tr>
                        @Html.ValidationSummary(true)
                        @Html.HiddenFor(m => m.Id)
                        <td><strong>名称: </strong></td>
                        <td>@Html.TextBoxFor(m => m.Name)</td>
                    </tr>
                    <tr>
                        <td><strong>所属提供商: </strong></td>
                        <td>
                            @Html.DropDownListFor(m => m.SourceId, (SelectList)sourcelist, "请选择")
                        </td>
                    </tr>
                    <tr>
                        <td><strong>所属主分类: </strong></td>
                        <td>
                            @Html.DropDownListFor(m => m.CategoryId, (SelectList)categorylist, "请选择")
                        </td>
                    </tr>
                    <tr>
                        <td><strong>所属子分类: </strong></td>
                        <td>
                            @Html.DropDownListFor(m => m.SubCategoryId, (SelectList)subcategorylist, "请选择")
                        </td>
                    </tr>
                    <tr>
                        <<td><strong>是否支持时间戳: </strong></td>
                        <td>@Html.RadioButtonFor(m => m.IsStamp, 1) 是 @Html.RadioButtonFor(m => m.IsStamp, 0) 否</td>
                    </tr>
                    <tr>
                        <td><strong>状态: </strong></td>
                        <td>@Html.RadioButtonFor(m => m.Status, 1) 有效 @Html.RadioButtonFor(m => m.Status, 0) 无效</td>
                    </tr>
                    <tr>
                        <td>
                            <strong>接口地址: </strong></td>
                        <td class="txt-longer">
                            @if (isUpdateMode)
                            {
                                @Html.TextAreaFor(m => m.InfAddress, new { @readonly = true, Class = "txt-readonly" })}
                            else
                            {
                                @Html.TextAreaFor(m => m.InfAddress)
                            }
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <button class="btn btn-large btn-blue addapp" style="margin-left: 50px">@ViewBag.Title</button>
                        </td>
                    </tr>
                </table>
            </div>
        }
    </div>
</div>
