@model PagedList<NewsContent>
@using System.Web.UI;
@using SubSonic.Schema;
@using FrameMobile.Model.News;
@using FrameMobile.Web;

@{
    ViewBag.Title = "新闻列表管理";
    Layout = "~/Views/Shared/_NewsLayout.cshtml";
    int? pageNum = ViewData["pageNum"] as int?;
    PagedList<NewsContent> newslist = ViewData["newslist"] as PagedList<NewsContent>;
    newslist = newslist != null ? newslist : new List<NewsContent>() as PagedList<NewsContent>;
}
<div class="contentHeader">
    <div class="contentHeaderInfo">
        <div>
            <button class="btn btn-large btn-blue" onclick="window.open('NewsAdd','_self');">添加新闻</button>
            <label>
                <input name="textfield" type="text" class="textbox_style" id="textfield" placeholder="请输入新闻ID或新闻标题...""  value="@Request.QueryString["textfield"]" size="30"/>
                <button class="btn btn-large btn-quaternary" onclick="var formPara = encodeURIComponent( $('#textfield').val().trim()) ;window.open('NewsSearchResult?textfield='+formPara ,'_self');">搜索新闻</button>
            </label>
        </div>
    </div>
    <div class="apphead">
        <div class="title">
            <b>@ViewBag.Title</b>
        </div>
    </div>
</div>
<div class="content">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>新闻ID</th>
                <th>新闻标题</th>
                <th>新闻来源</th>
                <th>状态</th>
                <th>发布时间</th>
            </tr>
        </thead>
        <tbody class="prolist">
            @foreach (var item in newslist)
            {
                <tr class="odd gradeX">
                    <td>@item.Id</td>
                    <td>@item.Title</td>
                    <td>@item.Site</td>
                    <td>@item.Status</td>
                    <td>@item.PublishTime</td>

                    <td class="center">
                        <button class="btn btn-large btn-gray" onclick="window.open('NewsEdit?newsId=@item.Id','_self');">
                            修 改</button>
                    </td>
                    <td class="center">
                        <button class="btn btn-large btn-gray" onclick="var c=confirm('确定要删除?'); if(c==true){window.open('NewsDelete?newsId=@item.Id','_self');}">
                            删 除</button>
                    </td>
                </tr>
            }
            <tr>
                <td colspan="6">
                    @Html.Pager(Model, new PagerOptions() { PageIndexParameterName = "page" })
                </td>
            </tr>
        </tbody>
    </table>
</div>
