@using FrameMobile.Model.News;
@model NewsContent
@{
    bool isUpdateMode = ViewData["IsUpdate"] != null;
    ViewBag.Title = isUpdateMode ? "修改新闻" : "添加新闻";
    Layout = "~/Views/Shared/_NewsLayout.cshtml";
    
}

<div class="contentHeader">
    <div class="contentHeaderInfo">
        <button class="btn btn-quaternary btn-large addapp" onclick="history.back();">
            返 回</button>
    </div>
    <div class="apphead">
        <div class="title">
            <b>@ViewBag.Title </b>
        </div>
    </div>
</div>
<div class="content">
    <div class="windows">
        @using (Html.BeginForm())
        {

            <p>
                <div class="title">
                    <h1>
                        @ViewBag.Title</h1>
                </div>
            </p>

            <div>
                <table>
                    @Html.ValidationSummary(true)
                    @Html.HiddenFor(m => m.Id)
                    <tr>
                        <td><strong>标题: </strong></td>
                        <td class="txt-longer">@Html.TextAreaFor(m => m.Title)</td>
                    </tr>
                    <tr>
                        <td><strong>分类: </strong></td>
                        @*<td>@Html.DropDownListFor(m => m.CategoryId, (SelectList)ViewData["Categorylist"])</td>*@
                        <td>@Html.TextBoxFor(m => m.CategoryId)</td>
                        <td><strong>子分类: </strong></td>
                        <td>@Html.TextBoxFor(m => m.SubCategoryId)</td>
                    </tr>
                    <tr>
                        <td><strong>来源: </strong></td>
                        <td>@Html.TextBoxFor(m => m.Site)</td>
                        <td><strong>外推应用: </strong></td>
                        <td>@Html.TextBoxFor(m => m.ExtraAppId)</td>
                    </tr>
                    <tr>
                        <td><strong>发布时间: </strong></td>
                        <td>@Html.TextBoxFor(m => m.PublishTime)</td>
                        <td><strong>状态: </strong></td>
                        <td>@Html.RadioButtonFor(m => m.Status, 1) 有效 @Html.RadioButtonFor(m => m.Status, 0) 无效</td>
                    </tr>
                    <tr>
                        <td><strong>Wap地址: </strong></td>
                        <td>@Html.TextAreaFor(m => m.WAPURL)</td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </div>
            <div>
                <strong>图片地址: </strong>
                @Html.TextBoxFor(m => m.ImageIds)
            </div>
            <div class="txt-medium">
                <strong>摘要: </strong>
                <br />
                @Html.TextAreaFor(m => m.Summary)
            </div>
            <div>
                <strong>内容: </strong>
                <br />
                @Html.TextAreaFor(m => m.Content)
            </div>
            <div>
                <button class="btn btn-large btn-blue addapp" style="margin-left: 50px">@ViewBag.Title</button>
            </div>
        }
    </div>
</div>
