@using FrameMobile.Model.News;
@using FrameMobile.Domain.Service;
@model NewsContent
@{
    bool isUpdateMode = ViewData["IsUpdate"] != null;
    ViewBag.Title = isUpdateMode ? "修改新闻" : "添加新闻";
    Layout = "~/Views/Shared/_NewsLayout.cshtml";

    var categorylist = ViewData["Categorylist"] as SelectList;
    var subcategorylist = ViewData["SubCategorylist"] as SelectList;
    var extraapplist = ViewData["ExtraApplist"] as SelectList;

    var displayURL = string.Empty;
    if (isUpdateMode)
    {
        var t = string.IsNullOrEmpty(@Model.NormalURL) ? null : @Model.NormalURL.Split('/').ToList();
        displayURL = string.IsNullOrEmpty(@Model.NormalURL) ? string.Empty : t[t.Count - 1];
    }
}

<div class="contentHeader">
    <div class="contentHeaderInfo">
        <button class="btn btn-quaternary btn-large addapp" onclick="history.back();">
            返 回</button>
    </div>
    <div class="apphead">
        <div class="title">
            <b>@ViewBag.Title </b>
        </div>
    </div>
</div>
<div class="content">
    <div class="windows">
        @using (Html.BeginForm())
        {

            <p>
                <div class="title">
                    <h1>
                        @ViewBag.Title</h1>
                </div>
            </p>

            <div>
                <table>
                    @Html.ValidationSummary(true)
                    @Html.HiddenFor(m => m.Id)
                    <tr>
                        <td><strong>标题: </strong></td>
                        <td class="txt-longer">@Html.TextAreaFor(m => m.Title)</td>
                    </tr>
                    <tr>
                        <td><strong>分类: </strong></td>
                        <td>
                            @Html.DropDownListFor(m => m.CategoryId, (SelectList)categorylist, "请选择")
                        </td>
                        <td><strong>子分类: </strong></td>
                        <td>
                            @Html.DropDownListFor(m => m.SubCategoryId, (SelectList)subcategorylist, "请选择")
                        </td>
                    </tr>
                    <tr>
                        <td><strong>来源: </strong></td>
                        <td>@Html.TextBoxFor(m => m.Site)</td>
                        <td><strong>外推应用: </strong></td>
                        <td>
                            @Html.DropDownListFor(m => m.ExtraAppId, (SelectList)extraapplist, "请选择")
                        </td>
                    </tr>
                    <tr>
                        <td><strong>星级: </strong></td>
                        <td>@Html.TextBoxFor(m => m.Rating, new { type="number", min="0", max="99999999"})</td>
                        <td><strong>发布时间: </strong></td>
                        <td>
                            @Html.TextBoxFor(m => m.PublishTime, new { @class = "Wdate", Value = Model.PublishTime.ToString("yyyy-MM-dd HH:mm:ss"), onclick = "WdatePicker({ dateFmt: 'yyyy-MM-dd HH:mm:ss' })" })
                        </td>
                    </tr>
                    <tr>
                        <td><strong>状态: </strong></td>
                        <td>@Html.RadioButtonFor(m => m.Status, 1) 有效 @Html.RadioButtonFor(m => m.Status, 0) 无效</td>
                        @if (isUpdateMode)
                        {
                            <td><strong>修改时间: </strong></td>
                            <td>
                                @Html.TextBoxFor(m => m.ModifiedTime, new { @readonly = true, Class = "txt-readonly" })
                            </td>
                        }
                    </tr>
                    <tr>
                        <td><strong>Wap地址: </strong></td>
                        <td>@if (isUpdateMode)
                            {
                            @Html.TextAreaFor(m => m.WAPURL, new { @readonly = true, Class = "txt-readonly" })}
                            else
                            {
                            @Html.TextAreaFor(m => m.WAPURL)
                            }</td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </div>
            <div>
                <strong>图片地址: </strong>
                <input type="file" name="newsimage" id="newsimage" accept="bmp|gif|jpg|jpeg|png|tiff|abm" />
                <br />
                <label class="filename">@displayURL</label>
                <br />
                @if (@displayURL != string.Empty)
                {
                    <img src="@Model.NormalURL" />
                }
            </div>
            <div class="txt-medium">
                <strong>摘要: </strong>
                <br />
                @Html.TextAreaFor(m => m.Summary)
            </div>
            <div>
                <strong>内容: </strong>
                <br />
                @Html.TextAreaFor(m => m.Content)
            </div>
            <div>
                <button class="btn btn-large btn-blue addapp" style="margin-left: 50px">@ViewBag.Title</button>
            </div>
        }
    </div>
</div>
