@using FrameMobile.Model.Account
@model User

@{
    ViewBag.Title = "修改资料";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
    bool isAdmin = (bool)ViewData["IsAdministrator"];
}

<div class="content">
    <div>
        <div>
            @using (Html.BeginForm())
            {
                @Html.ValidationSummary(true)

                <fieldset>
                    <legend>修改资料</legend>
                    @Html.HiddenFor(model => model.Id)
                    <ul>
                        <li>
                            <div class="editor-label">
                                @Html.LabelFor(model => model.Name)
                            </div>
                            <div class="editor-field">
                                @Html.TextBoxFor(model => model.Name, new { @readonly = true, Class = "txt-readonly" })
                            </div>
                        </li>
                        <li>
                            <div class="editor-label">
                                @Html.LabelFor(model => model.Password)
                            </div>
                            <div class="editor-field">
                                @Html.Password("Password")
                                @Html.ValidationMessageFor(model => model.Password)
                                输入正确的密码才能修改资料。
                            </div>
                        </li>
                        @if (isAdmin)
                        {
                            <li>
                                <div class="editor-label">
                                    @Html.LabelFor(model => model.UserGroupIds)
                                </div>
                                <div class="editor-field">
                                    @Html.EditorFor(model => model.UserGroupIds, new { @readonly = true, Class = "txt-readonly" })
                                    @Html.ValidationMessageFor(model => model.UserGroupIds)
                                    数字用逗号隔开
                                </div>
                            </li>
                        }
                        <li>
                            <div class="editor-label">
                                @Html.LabelFor(model => model.Email)
                            </div>
                            <div class="editor-field">
                                @Html.EditorFor(model => model.Email)
                                @Html.ValidationMessageFor(model => model.Email)
                                @Html.DisplayDescriptionFor(model => model.Email)
                            </div>
                        </li>
                        <li>
                            <div class="editor-label">
                                @Html.LabelFor(model => model.QQ)
                            </div>
                            <div class="editor-field">
                                @Html.EditorFor(model => model.QQ)
                                @Html.ValidationMessageFor(model => model.QQ)
                                @Html.DisplayDescriptionFor(model => model.QQ)
                            </div>
                        </li>
                        <li>
                            <div class="editor-label">
                                @Html.LabelFor(model => model.Tel)
                            </div>
                            <div class="editor-field">
                                @Html.EditorFor(model => model.Tel)
                                @Html.ValidationMessageFor(model => model.Tel)
                                @Html.DisplayDescriptionFor(model => model.Tel)
                            </div>
                        </li>
                        <li>
                            <div class="editor-label">
                                @Html.LabelFor(model => model.PostCode)
                            </div>
                            <div class="editor-field">
                                @Html.EditorFor(model => model.PostCode)
                                @Html.ValidationMessageFor(model => model.PostCode)
                                @Html.DisplayDescriptionFor(model => model.PostCode)
                            </div>
                        </li>
                        <li>
                            <div class="editor-label">
                                @Html.LabelFor(model => model.SecurityQuestion)
                            </div>
                            <div class="editor-field">
                                @Html.TextAreaFor(model => model.SecurityQuestion)
                                @Html.ValidationMessageFor(model => model.SecurityQuestion)
                                @Html.DisplayDescriptionFor(model => model.SecurityQuestion)
                            </div>
                        </li>
                        <li>
                            <div class="editor-label">
                                @Html.LabelFor(model => model.SecurityAnswer)
                            </div>
                            <div class="editor-field">
                                @Html.TextAreaFor(model => model.SecurityAnswer)
                                @Html.ValidationMessageFor(model => model.SecurityAnswer)
                                @Html.DisplayDescriptionFor(model => model.SecurityAnswer)
                            </div>
                        </li>
                        <li>
                            <div class="editor-label">
                                @Html.LabelFor(model => model.Address)
                            </div>
                            <div class="editor-field">
                                @Html.TextAreaFor(model => model.Address)
                                @Html.ValidationMessageFor(model => model.Address)
                                @Html.DisplayDescriptionFor(model => model.Address)
                            </div>
                        </li>
                        <li>
                            <div class="editor-label">
                                @Html.LabelFor(model => model.Comment)
                            </div>
                            <div class="editor-field">
                                @Html.TextAreaFor(model => model.Comment)
                            </div>
                        </li>
                        <li>
                            <input type="submit" value="修改" /></li>
                    </ul>
                </fieldset>
            }
        </div>
    </div>
</div>
