@using FrameMobile.Model
@model LocalPasswordView

@{
    ViewBag.Title = "修改密码";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<div class="contentHeader">
    <div class="apphead">
        <div class="title">
            <b>@ViewBag.Title</b>
        </div>
        <div>
            <button class="btn btn-quaternary btn-large" onclick="history.back();">
                返 回</button>
        </div>
    </div>
</div>
<div class="content">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)

        <div>
            <dl>
                <dd>
                    <div class="label">@Html.LabelFor(model => model.Password)：</div>
                    <div class="ctrl">@Html.PasswordFor(model => model.Password)
                        @Html.ValidationMessageFor(model => model.Password)
                        @Html.DisplayDescriptionFor(model => model.Password)
                    </div>
                </dd>
                <dd>
                    <div class="label">@Html.LabelFor(model => model.NewPassword)：</div>
                    <div class="ctrl">@Html.PasswordFor(model => model.NewPassword)
                        @Html.ValidationMessageFor(model => model.NewPassword)
                        @Html.DisplayDescriptionFor(model => model.NewPassword)
                    </div>
                </dd>
                <dd>
                    <div class="label">@Html.LabelFor(model => model.ConfirmPassword)：</div>
                    <div class="ctrl">@Html.PasswordFor(model => model.ConfirmPassword)
                        @Html.ValidationMessageFor(model => model.ConfirmPassword)
                        @Html.DisplayDescriptionFor(model => model.ConfirmPassword)
                    </div>
                </dd>
                <dd>
                    <div class="label"></div>
                    <div class="ctrl">
                        <input type="submit" value="修改密码" />@Html.ValidationMessage("Message")
                    </div>
                </dd>
            </dl>
            <div class="clear"></div>
        </div>
    
    }
</div>
