@using FrameMobile.Model.Account
@model User
@{
    ViewBag.Title = "用户管理";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";

    bool isAdmin = (bool)ViewData["IsAdmin"];
}

<div class="content">
    <table class="singletable">
        <thead>
            <tr>
                <th>用户名</th>
                <th>邮箱</th>
                @if (isAdmin)
                {
                    <th>用户组</th>
                }
                <th>密保问题</th>
                <th>密保答案</th>
                <th>备注</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td><strong>@Model.Name</strong></td>
                <td>@Model.Email</td>
                @if (isAdmin)
                {
                    <td>@Model.UserGroupIds</td>
                }
                <td>@Model.SecurityQuestion</td>
                <td>@Model.SecurityAnswer</td>
                <td>@Model.Comment</td>
                <td>@Model.Status</td>
                <td>
                    <button type="button" onclick="window.open('UserEdit?userId=@Model.Id','_self');">
                        修 改</button>
                    <button type="button" onclick="var c=confirm('确定要删除?'); if(c==true){window.open('UserDelete?userId=@Model.Id','_self');}">
                        删 除</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
