@using FrameMobile.Model.Theme;
@model List<WallPaper>
@{
    ViewBag.Title = "壁纸列表管理";
    Layout = "~/Views/Shared/_WallPaperLayout.cshtml";

    List<WallPaper> wallpaperlist = ViewData["WallPaperlist"] as List<WallPaper>;
    wallpaperlist = wallpaperlist != null ? wallpaperlist : new List<WallPaper>();
    var totalCount = ViewData["TotalCount"] as int?;
    totalCount = totalCount != null ? totalCount : 0;
}

<div class="contentHeader">
    <div class="contentHeaderInfo">
        <button class="btn btn-large btn-blue addapp" onclick="window.open('WallPaperAdd','_self');">
            壁纸添加</button>
    </div>
    <div class="apphead">
        <div class="title">
            <b>@ViewBag.Title (总数:@totalCount)</b>
        </div>
        <div>
            <button class="btn btn-quaternary btn-large" onclick="history.back();">
                返 回</button>
        </div>
    </div>
</div>
<div class="content">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>序号</th>
                <th>名称</th>
                <th>缩略图</th>
                <th>下载数</th>
                <th>排序号</th>
                <th>发布时间</th>
                <th>状态</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody class="prolist">
            @foreach (var item in wallpaperlist)
            {
                <tr class="odd gradeX">
                    <td><strong>@item.Id</strong></td>
                    <td><strong>@item.Titile</strong></td>
                    <td>@item.ThumbnailName</td>
                    <td>@item.DownloadNumber</td>
                    <td>@item.OrderNumber</td>
                    <td>@item.PublishTime</td>
                    <td>@item.Status</td>
                    <td class="center">
                        <button type="button" class="btn btn-large btn-gray"  onclick="window.open('WallPaperEdit?wallpaperId=@item.Id','_self');">修 改</button>
                    </td>
                    <td class="center">
                        <button type="button" class="btn btn-large btn-gray"  onclick="var c=confirm('确定要删除?'); if(c==true){window.open('WallPaperDelete?wallpaperId=@item.Id','_self');}">
                            删 除</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
