@model FloatingModel
@using FrameMobile.Model.Security;
@{
    bool isUpdateMode = ViewData["IsUpdate"] != null;
    ViewBag.Title = isUpdateMode ? "修改悬浮窗配置" : "添加悬浮窗配置";
    Layout = "~/Views/Shared/_SecurityLayout.cshtml";
}

<div class="contentHeader">
    <div class="contentHeaderInfo">
        <button class="btn btn-quaternary btn-large addapp" onclick="history.back();">
            返 回</button>
    </div>
    <div class="apphead">
        <div class="title">
            <b>@ViewBag.Title </b>
        </div>
    </div>
</div>
<div class="content">
    <div class="windows">
        @using (Html.BeginForm())
        {

            <p>
                <div class="title">
                    <h1>
                        @ViewBag.Title</h1>
                </div>
            </p>
            <div class="securityinput">
                @Html.ValidationSummary(true)
                @Html.HiddenFor(m => m.Id)
                <strong>结果值: </strong>
                @Html.TextAreaFor(m => m.JsonResult)
            </div>
            <div style="clear: both">
                <table>
                    @*<tr>
                        <td><strong>结果值: </strong></td>
                        <td class="securityinput">@Html.TextAreaFor(m => m.JsonResult)</td>
                    </tr>*@
                    <tr>
                        <td><strong>版本: </strong></td>
                        <td>@Html.TextBoxFor(m => m.Version)</td>
                    </tr>
                    <tr>
                        <td><strong>状态: </strong></td>
                        <td>@Html.RadioButtonFor(m => m.Status, 1, new { @checked = "checked" }) 有效 @Html.RadioButtonFor(m => m.Status, 0) 无效</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <button class="btn btn-large btn-blue addapp" style="margin-left: 50px">@ViewBag.Title</button>
                        </td>
                    </tr>
                </table>
            </div>
        }
    </div>
</div>

